<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
       
      <test name="Test ttt">
       <classes>
		        <class name="Sample1.Travels">
         <methods>
		  <exclude name="Bus"/>
	     </methods>	
	       </class>
	       </classes>
	      
  </test> <!-- Test -->
</suite> <!-- Suite -->
